*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Golos Text', sans-serif;
    line-height: 13px;
}

a{
    color: white;
    text-decoration: none;
}

header{
    background-color: #ff6900;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.container{
    max-width: 1100px;
    margin-inline: auto;
}

nav{
    height: 3rem;
}

.logo{
    width: 100px;
}

.container.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
    position: relative;
    max-width: 313px;
}

.model{
    height: 500px;
    padding-top: 3rem;
    display: block;
}

.model-2{
    display: none;
    height: 500px;
    padding-top: 3rem;
}

.card:hover .model{
    display: none;
}

.card:hover .model-2{
    display: block;
}


.discount{
    background-color: red;
    padding: 4px;
    border: 1px solid red;
    font-size: 10px;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 0;
    font-weight: bold;
}

.sost{
    background-color: green;
    padding: 4px;
    border: 1px solid green;
    font-size: 10px;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 38px;
    font-weight: bold;
}

.sost-only{
    background-color: green;
    padding: 4px;
    border: 1px solid green;
    font-size: 10px;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 0;
    font-weight: bold;
}

.like{
    background-color: white;
    border: 1px solid white;
    font-size: 25px;
    position: absolute;
    top: 70px;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.like:hover{
    color: red;
}

.brand{
    font-size: 12px;
}

.article{
    font-size: 15px;
    font-weight: bold;
}

.price{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.old-price{
    text-decoration: line-through;
    font-size: 12px;
}

footer{
    background-color: black;
    height: 4rem;
    margin-top: 2rem;
    padding-top: 1rem;
}

.bool{
    color: white;
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 8px;
}

.ftr-link{
    font-size: 11px;
    padding-right: 10px;
}

.container.follow{
    position: relative;
}

.find-us{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.social{
    position: absolute;
    right: 0;
    top: 20px;
}